<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>My Profile</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <center>
    <div class="profile">
      <img class="cover_pic" src="assets/img/cover.jpg" alt="Coudnt load image">
      <img class="profile_pic" src="assets/img/profile.jpg" alt="Coudnt load image">
    </div>
  </center>
  <div class="user-meta ion-text-center">
    <p class="username">Maria Teresa M. Calisay</p>
    <p class="motto"> Time is Time</p>
    <p> Studied at<big> EASTERN VISAYAS STATE UNIVERSITY-CARIGARA CAMPUS</big></p>
    <p>Lives in <big>Barugo,Leyte</big></p>
    <p>From <Big>Barugo, Leyte</Big></p>
    <p>Female</p>
    <p>Single</p>
  </div>

  <ion-card class="left"></ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
