<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>My Contacts</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <img src="assets/img/pic6.jpg" alt="coudnt load image" width="90" height="90">
  <big>My Contact Number: +63961560216
  </big>
</ion-card>
<ion-card>
  <img src="assets/img/pic3.jpg" alt="coudnt load image" width="90" height="90">
  <big>E-mail Account: mariateresa.calisay@evsu.edu.ph
  </big>
</ion-card>
<ion-card>
  <img src="assets/img/pic1.jpg" alt="coudnt load image" width="90" height="90">
  <big>Facebook Account: Therressa Maria
  </big>
</ion-card>
<ion-card>
  <img src="assets/img/pic7.jpg" alt="coudnt load image" width="90" height="90">
  <big>Snapchat: @therressa maria
  </big>
</ion-card>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
